{% extends 'block.html' %}

{% block subcontent %}
<head>
	<title>Home | No-Code ML</title>
</head>

<div class="main">
	<div class="row">
		<div class="col-lg-6 col-sm-12">
			<div class="card text-center">
				<div class="card-title">
					<h1>{{content[step|string]['card_1']['content']['h1']}}</h1>
				</div>
				<div class="card-body">
					<p class="card-desc">{{content['step1 desc']}}</p>
					<h1><a href="{{content[step|string]['card_1']['content']['a']['href']}}" class="{{content[step|string]['card_1']['content']['a']['class']}}"><i class="{{content[step|string]['card_1']['content']['i_class']}}"></i> {{content[step|string]['card_1']['content']['a']['content']}}</a></h1>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-sm-12">
			<div class="card text-center">
				<div class="card-title">
					<h1>{{content[step|string]['card_2']['content']['h1']}}</h1>
				</div>
				<div class="card-body">
					<p class="card-desc">{{content['step2 desc']}}</p>
					<h1><a href="{{content[step|string]['card_2']['content']['a']['href']}}" class="{{content[step|string]['card_2']['content']['a']['class']}}" data-toggle="{{content[step|string]['card_2']['content']['a']['data-toggle']}}" data-target="{{content[step|string]['card_2']['content']['a']['data-target']}}"><i class="{{content[step|string]['card_2']['content']['i_class']}}"></i> {{content[step|string]['card_2']['content']['a']['content']}}</a></h1>
				</div>
			</div>
		</div>

		<div class="col-lg-6 col-sm-12">
			<div class="card text-center">
				<div class="card-title">
					<h1>{{content[step|string]['card_3']['content']['h1']}}</h1>
				</div>
				<div class="card-body">
					<p class="card-desc">{{content['step3 desc']}}</p>
					<div class="dropdown open">
						<a  href="#" class="{{content[step|string]['card_3']['content']['a']['class']}}" type="button" id="dropdownMenu1" data-toggle="{{content[step|string]['card_3']['content']['a']['data-toggle']}}" data-target="{{content[step|string]['card_3']['content']['a']['data-target']}}" aria-haspopup="true" aria-expanded="false"><i class="{{content[step|string]['card_3']['content']['i_class']}}"></i> 
							{{content[step|string]['card_3']['content']['a']['content']}}
						</a>
						<div class="dropdown-menu" aria-labelledby="dropdownMenu1">
							{% for name in algorithms %}
								<a class="dropdown-item" href="/{{name}}/parameters">{{algorithms[name]['name']}}</a>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-6 col-sm-12">
			<div class="card text-center">
				<div class="card-title">
					<h1>{{content[step|string]['card_4']['content']['h1']}}</h1>
				</div>
				<div class="card-body">
					<p class="card-desc">{{content['step4 desc']}}</p>
					<h1><a href="{{content[step|string]['card_4']['content']['a']['href']}}" class="{{content[step|string]['card_4']['content']['a']['class']}}" data-toggle="{{content[step|string]['card_4']['content']['a']['data-toggle']}}" data-target="{{content[step|string]['card_4']['content']['a']['data-target']}}"><i class="{{content[step|string]['card_4']['content']['i_class']}}"></i> {{content[step|string]['card_4']['content']['a']['content']}}</a></h1>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-sm-12">
			<div class="card text-center">
				<div class="card-title">
					<h1>{{content[step|string]['card_5']['content']['h1']}}</h1>
				</div>
				<div class="card-body">
					<p class="card-desc">{{content['step5 desc']}}</p>
					<h1><a href="{{content[step|string]['card_5']['content']['a']['href']}}" class="{{content[step|string]['card_5']['content']['a']['class']}}" data-toggle="{{content[step|string]['card_5']['content']['a']['data-toggle']}}" data-target="{{content[step|string]['card_5']['content']['a']['data-target']}}"><i class="{{content[step|string]['card_5']['content']['i_class']}}"></i> {{content[step|string]['card_5']['content']['a']['content']}}</a></h1>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-sm-12">
			<div class="card text-center">
				<div class="card-title">
					<h1>{{content[step|string]['card_6']['content']['h1']}}</h1>
				</div>
				<div class="card-body">
					<p class="card-desc">{{content['step5 desc']}}</p>
					<h1><a href="{{content[step|string]['card_6']['content']['a']['href']}}" class="{{content[step|string]['card_6']['content']['a']['class']}}" data-toggle="{{content[step|string]['card_6']['content']['a']['data-toggle']}}" data-target="{{content[step|string]['card_6']['content']['a']['data-target']}}"><i class="{{content[step|string]['card_6']['content']['i_class']}}"></i> {{content[step|string]['card_6']['content']['a']['content']}}</a></h1>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="incomplete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Step Incomplete</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>You are on Step {{step}}. Please Complete previous steps to access this section</p>
			</div>
		</div>
	</div>
</div>
<span class="badge badge-warning m-4">You Are On : Step {{step}} / 6 </span>
<div class="progress">
<div class="progress-bar progress-bar-striped progress progress-bar-animated" style="background-color: green;width:{{ step * 16.7 }}%"></div>
</div>
{% endblock %}